# Auto detect text files and perform LF normalization
* text=auto
*.png filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
/Assets/Car&WheelModel/car_texture.png filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Demo[[:space:]]Scenes/complete_track_demo.unity filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Demo[[:space:]]Scenes/single_objects_demo.unity filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Prefab_Meshes/prop_paddock.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Prefab_Meshes/prop_seats_big.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Prefab_Meshes/prop_startlights.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Prefab_Meshes/prop_tyre_4x8.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_complete_colliders.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_banners.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_barriers.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_blocks.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_bridges.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_buildings.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_lamps.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_lines.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_pitwall.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_seats.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_startlights.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_tents.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_terrain.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_trees.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_tyres.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Meshes/Track_Meshes/OvalModular/oval_mod_walls.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Prefabs/Track/oval_complete_colliders.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Prefabs/Track/oval_mod_lines.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Prefabs/Track/oval_mod_walls.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/baloon.psd filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/banners.psd filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/barriers.psd filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/barriers_normal.psd filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/garages.psd filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/garages_specular.psd filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/grass_1.psd filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/grass_2.psd filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/gravel.psd filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/metal_fence.psd filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/road.psd filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/road_normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/rock.psd filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/trees.psd filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/tyres.psd filter=lfs diff=lfs merge=lfs -text
/Assets/CartoonTracksPack1/Track1/Textures/tyres_normal.psd filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonChat/Demos/DemoChat/DemoChat-Scene.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonLibs/Metro/Photon3Unity3D.dll filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonLibs/Photon3Unity3D.dll filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonLibs/Photon3Unity3D.xml filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonLibs/WebSocket/websocket-sharp.dll filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonLibs/changes-library.txt filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonLibs/netstandard2.0/Photon3Unity3D.dll filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonLibs/netstandard2.0/Photon3Unity3D.xml filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonNetworking-Documentation.chm filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonNetworking-Documentation.pdf filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonRealtime/Code/LoadBalancingClient.cs filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonRealtime/Code/LoadbalancingPeer.cs filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonRealtime/Demos/DemoLoadBalancing/Jura-Medium-LB.ttf filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Code/PhotonNetwork.cs filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Code/PhotonNetworkPart.cs filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/DemoAsteroids/Scenes/DemoAsteroids-LobbyScene.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/DemoAsteroids/Textures/FlyerPlayershipOcclusion.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/DemoHub/DemoHub-Scene.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/DemoHub/Sprites/Gradient.png filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/DemoProcedural/Procedural-Scene.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/DemoSlotRacer/Kenney[[:space:]]Assets/Stylized[[:space:]]city/Models/car_1.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/DemoSlotRacer/Kenney[[:space:]]Assets/Stylized[[:space:]]city/Models/car_3.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/DemoSlotRacer/Kenney[[:space:]]Assets/Stylized[[:space:]]city/Models/car_4.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/DemoSlotRacer/Kenney[[:space:]]Assets/Stylized[[:space:]]city/Models/hamvee.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/DemoSlotRacer/Kenney[[:space:]]Assets/Stylized[[:space:]]city/Models/tree_1.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/DemoSlotRacer/Kenney[[:space:]]Assets/Stylized[[:space:]]city/Models/tree_6.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/DemoSlotRacer/SlotCar-Scene.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/DemoSlotRacer/SlotCar-Scene/ReflectionProbe-0.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/PunBasics-Tutorial/Scenes/PunBasics-Launcher.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/PunCockpit/PunCockpit-Scene.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Animations/HumanoidCrouch.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Animations/HumanoidIdle.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Animations/HumanoidIdleJumpUp.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Animations/HumanoidIdleJumpUp.fbx.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Animations/HumanoidJumpAndFall.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Animations/HumanoidMidAir.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Animations/HumanoidRun.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Animations/HumanoidRunTurn.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Animations/HumanoidRunTurnSharp.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Animations/HumanoidStandTurn.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Animations/HumanoidWalk.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Animations/HumanoidWalkTurn.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Animations/HumanoidWalkTurnSharp.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Models/Robot[[:space:]]Kyle.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Skin/Jura-Medium.ttf filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Skin/eurof35.ttf filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Textures/Gradient.png filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Textures/Robot_Color.png filter=lfs diff=lfs merge=lfs -text
/Assets/Photon/PhotonUnityNetworking/Demos/Shared[[:space:]]Assets/Textures/Robot_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Menu.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/SampleScene/ReflectionProbe-0.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/TestTrack.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/TestTrack/ReflectionProbe-0.exr filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Documentation/TextMesh[[:space:]]Pro[[:space:]]User[[:space:]]Guide[[:space:]]2016.pdf filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Fonts/LiberationSans.ttf filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/LiberationSans[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Sprites/EmojiOne.png filter=lfs diff=lfs merge=lfs -text
